<app-auth-layout>
  <app-auth-card>
    @if (sent()) {
      <h1 class="text-3xl font-bold mb-2">Revisa tu correo</h1>
      <p class="text-gray-500 mb-6">
        Si el correo existe en nuestro sistema, te enviamos un enlace para restablecer tu contraseña.
      </p>
      
       <a routerLink="/login"
        class="w-full mt-5 inline-block text-center bg-[var(--primary)] hover:bg-[var(--primary-dark)] text-white py-3 rounded-xl transition"
      >
        Volver al inicio de sesión
      </a>
    } @else {
      <h1 class="text-3xl font-bold mb-2">Recuperar contraseña</h1>
      <p class="text-gray-500 mb-6">Ingresa tu correo electrónico.</p>

      <form [formGroup]="form" (ngSubmit)="submit()" novalidate>
        <app-email-input
          label="Correo electrónico"
          placeholder="Ingresa tu correo"
          [formControl]="form.controls.email"
        ></app-email-input>
        @if (fieldError('email')) {
          <p class="text-xs mb-2" style="color: #b91c1c">{{ fieldError('email') }}</p>
        }

        <button
          type="submit"
          [disabled]="isSubmitting()"
          class="w-full mt-5 bg-[var(--primary)] hover:bg-[var(--primary-dark)] text-white py-3 rounded-xl transition"
        >
          {{ isSubmitting() ? 'Enviando...' : 'Enviar' }}
        </button>
      </form>
    }
  </app-auth-card>
</app-auth-layout>